* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg: #f3f4f6;
}

body {
  font-family: "Lucida Sans", sans-serif;
  line-height: 1.4;
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  background-color: var(--primary-bg);
  max-width: 768px;
  margin: 8rem auto;
}
.col1 {
  padding: 1rem;
  width: 50%;
  text-align: center;
}
.col2 {
  width: 50%;
}
img {
  height: 100%;
  width: 100%;
}
input {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
.btn {
  margin: 1rem 0;
  padding: 0.4rem 0.8rem;
  background-color: #4b5563;
  color: var(--primary-bg);
  border: 0;
  border-radius: 12px;
  text-align: center;
  width: 90%;
}
.result {
  padding: 1rem 0;
  font-size: 1.3rem;
}
p a {
  text-decoration: solid;
  font-weight: bold;
  color: #000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  width: 90%;
}

label {
  width: 90%;
  display: inline-block;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    max-width: 400px;
    margin: 2rem auto;
  }
  .col1 {
    width: 100%;
  }
  .col2 {
    width: 100%;
  }
}
